.mission-list {
    margin: auto;
    padding: 10px;
}
  
.mission-card {
    background: #0ec7f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}
  
.mission-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
  
.mission-patch {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
  
.mission-info {
    flex-grow: 1;
}
  
.mission-info h2 {
    margin: 0;
    font-size: 1.5em;
    color: #000000;
}
  
.launch-year {
    font-size: 0.9em;
    color: #000000;
}
  
.mission-details {
    font-size: 0.9em;
    color: #333;
    border-top: 1px solid #eee;
    padding-top: 15px;
}
  
.filter-section {
    margin-bottom: 20px;
  }
  
  .filter-section h2 {
    margin-bottom: 10px;
  }
  
  .success-button,
  .failure-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .success-button {
    background-color: #4CAF50; /* Green */
  }
  
  .failure-button {
    background-color: #f44336; /* Red */
  }
  