<div class="container">
  <h1>SpaceX Mission Launch</h1>
  <hr>
  <div class="filter-section">  
    <h2>Select Year:</h2>
    <select #yearSelect (change)="onYearChange(yearSelect.value)" class="year-select">
      <option value="">Choose</option>
      <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
    </select>
  </div>
    <div class="mission-list">
    <div *ngFor="let mission of missions" class="mission-card" (click)="selectMission(mission.flight_number)">
      <div class="mission-header">
        <img [src]="mission.links.mission_patch_small" alt="Mission Patch" class="mission-patch">
        <div class="mission-info">
          <h2>{{ mission.mission_name }}</h2>
          <p class="launch-year">{{ mission.launch_year }}</p>
        </div>
      </div>
      <p class="mission-details">{{ mission.details || 'No details available' }}</p>
    </div>
  </div>
</div>