<!-- src/app/missiondetails/missiondetails.component.html -->
<div *ngIf="mission" class="mission-details-container">
    <div class="mission-details-card">
        <h1>SpaceX Mission Details</h1>
    <div class="mission-content">
      <img [src]="mission.links.mission_patch" alt="{{ mission.mission_name }}" class="mission-patch">
      <h2>Mission - {{ mission.mission_name }}</h2>
      <p><strong>Launch Year:</strong> {{ mission.launch_year }}</p>
      <div class="rocket-details">
        <h3>Rocket</h3>
        <p>Name: {{ mission.rocket.rocket_name }}</p>
        <p>Type: {{ mission.rocket.rocket_type }}</p>
      </div>
      <div class="launch-site-details">
        <h3>Launch Site</h3>
        <p>Name: {{ mission.launch_site.site_name_long }}</p>
      </div>
      <div class="launch-details">
        <h3>Launch Details</h3>
        <p>{{ mission.details }}</p>
      </div>
      <div class="mission-footer">
        <p><strong>Launch Date:</strong> {{ mission.launch_date_utc | date:'medium' }}</p>
        <p><strong>Launch Success:</strong> {{ mission.launch_success ? 'Yes' : 'No' }}</p>
        <p *ngIf="mission.launch_failure_details"><strong>Failure Details:</strong> {{ mission.launch_failure_details.reason }}</p>
      </div>
      <div class="link-buttons">
        <a href="{{ mission.links.article_link }}" target="_blank" class="btn btn-article">Article</a>
        <a href="{{ mission.links.wikipedia }}" target="_blank" class="btn btn-wiki">Wikipedia</a>
        <a href="{{ mission.links.video_link }}" target="_blank" class="btn btn-youtube">YouTube</a>
    </div>
    </div>
  </div>
  